.actions-header{
    display: flex;
    padding:0 50px;
    justify-content: space-between;
}
.actions-header, .actions-header .manageMenu, .actions-header .userMenu{
    display: flex;
    justify-content: space-between;
}
.actions-header button, .actions-header a, .greetings-menu{
    color:white;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    font-size: 17px;
    font-weight: bold;
}
.actions-header a{
    margin: 0 10px;
}
.actions-header button:hover, .actions-header a:hover{
    color:#ff5933;
}
.actions-header > .mainMenu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}