.header {
    display: flex;
    padding: 50px;
    padding-bottom: 0;
    justify-content: space-between;
}
.header button,
.header a {
    color: white;
    text-decoration: none;
    font-family: "Assistant", sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin-left: 15px;
}
.header button:hover,
.header a:hover {
    color: #ff5933;
}
.header > .mainMenu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header > .mainMenu .logo {
    width: 60px;
    cursor: pointer;
}
