.p-votes{
    text-align: right;
}
.p-votes .prev-votes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.p-votes .closed-vote, .p-votes .no-votes{
    color:#ff5933;
    font-weight: bold;
    font-size:14px;
    padding-bottom: 10px;
}